<div id="divIsniEstrelaAvaliacoes" style="display: none;">
  Avaliações (<label id="lblNumAvaliacoesIsni1"></label>): <label id="notaGeralAvaliacoesIsni1"></label>
</div>

<script>
const cte_REPOSITORIO_ARQUIVOS_DA_LOJA = "";

var rMediaNotaAvaliacoesIsni = 0;
var arrReviewsIsni = null;
var sNotaGeralComEstrelas = '';
var rPorcentagemEstrelas = 0;

function getIsniReview(pIdProduto){  
    var currentdate = new Date();
    var datetime = currentdate.getDay() + "_" + currentdate.getMonth() + "_" + currentdate.getFullYear() + "_"
                 + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();

    if( cte_REPOSITORIO_ARQUIVOS_DA_LOJA == "" ){
        alert( "Não é possível montar avaliações de produto!\nO caminho da loja não foi definido corretamente, verifique por favor." );
        $("#buscandoAvaliacoesIsni").remove();
        return;
    }

    var sNomeJson = cte_REPOSITORIO_ARQUIVOS_DA_LOJA + "isni_avaliacoes_" + pIdProduto + ".json?v=" + datetime.toString();
    
    $("#buscandoAvaliacoesIsni").remove();
    document.write("<div id='buscandoAvaliacoesIsni'><img height='20' src='" + cte_REPOSITORIO_ARQUIVOS_DA_LOJA + "isni_loading.webp?v=1732844603'> Buscando avaliações...</div>");

    setTimeout( function(){
                    $.getJSON( sNomeJson, function(data, status){
                          arrReviewsIsni = data;
                          
                          var iTotalEstrelas = 0;
                           arrReviewsIsni.forEach( (element) =>{
                             iTotalEstrelas += element.numestrelas;     
                           });
                        
                           var iNota = ( iTotalEstrelas / arrReviewsIsni.length );
                           rPorcentagemEstrelas = Math.round( ( 100 * iNota ) / 5 );
                        
                           iNota = Math.round( iNota * 10 ) / 10;
                        
                           sNotaGeralComEstrelas = '<div title="' + iNota + ' estrelas" class="ratingIsni"><div class="ratingIsni-upper" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>'
                                                 + '<div class="ratingIsni-lower"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div></div>'; 
                
                           $("#notaGeralAvaliacoesIsni1").html( '<a href="javascript:scrollToAvaliacoesIsni()">' + sNotaGeralComEstrelas + '</a>' );
                           
                           $("#lblNumAvaliacoesIsni1").html( arrReviewsIsni.length );

                           $("#divIsniEstrelaAvaliacoes").show();
                        
                           rMediaNotaAvaliacoesIsni = iNota;    

                           $(".ratingIsni-upper").css({
                              width: rPorcentagemEstrelas + "%"
                           }); 
                    })
                    .done(function() { $("#buscandoAvaliacoesIsni").remove(); })
                    .always(function() { $("#buscandoAvaliacoesIsni").remove(); });  ;
               }, 1000 );
} 

function scrollToAvaliacoesIsni(){
     $('html, body').animate({
                    scrollTop: $("#displayIsniReviews").offset().top - 150
                }, 1000);  
}  

getIsniReview("{{ idProduto }}");
</script>